body{
    background-color:#000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin:0;
}

:root {
    --hp-color: red;
    --hp-background: rgb(255, 212, 212);
    --primary-color: rgb(250, 175, 46);
    --secondary-color: rgb(143, 94, 3);
}

.container{
    position: relative;
    width: 1024px;
    margin: auto;
}

.health-bar{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.sprite {
    background-color: var(--primary-color);
    height:30px;
    width: 100%;
    position: relative;
    border: 1px solid var(--secondary-color);
}

.sprite.player {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-right: none;
}

.sprite.enemy {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-left: none;
}

.sprite .health {
    position: absolute;
    background-color: var(--hp-background);
    border: 1px solid var(--hp-background);
    width: 100%;
    height: 22px;
    top:50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    z-index: 5;
}

.sprite.player .health{  
    right:-4px;
    box-shadow: inset 5px 15px 20px var(--hp-color);
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;  
}

.sprite.enemy .health{  
    left:-4px;
    box-shadow: inset -5px 15px 20px var(--hp-color);
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
}

.sprite .bg-health {
    position: absolute;
    background-color: var(--hp-background);
    width: 100%;
    height: 22px;
    top:50%;
    transform: translateY(-50%);
    border: 1px solid var(--secondary-color);
}

.sprite.player .bg-health {
    box-shadow: inset 5px 15px 20px var(--primary-color);
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;
    right:-5px;
}

.sprite.enemy .bg-health {
    box-shadow: inset -5px 15px 20px var(--primary-color);
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
    left:-5px;
}

.name{
    position:absolute;
    color: #fff;
    font-size: 22px;
    top: 100%;
}

.sprite.enemy .name{
    right:0;
}

.time{
    background-color: var(--primary-color);
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    z-index: 20;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    box-shadow: inset 0 0 5px var(--primary-color);
    transform: scale(1.1);
}

.time p{
    z-index: 1;
}

.time:before{
    content: '';
    background-color: rgb(64, 191, 71);
    position: absolute;
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    border: 1px solid rgb(7, 111, 0);
    box-sizing: border-box;
    box-shadow: inset 10px 10px 30px rgb(6, 84, 1);
}

.result{
    position: absolute;
    display: none;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    font-size:35px;
    font-weight: bold;
    text-transform: uppercase;
}